.font-color-red {
  color: #f72020;
}

.font-color-green {
  color: #19ea40;
}

.font-color-black {
  color: #757575;
}

.font-color-white {
  color: #FFFFFF;
}

.font-color-blue {
  color: #1386d3;
}

.bg-color-blue {
  background-color: #1386d3;
}

.border-color-grey {
  border-color: #d8d8d8;
}