
$brown: #966842;
$red: #f44747;
$yellow: #eedc31;
$green: #7fdb6a;
$blue: #0e68ce;

.font-color-red {
  color: $red;
}

.font-color-green {
  color: $green;
}

.font-color-black {
  color: #757575;
}

.font-color-white {
  color: #FFFFFF;
}

.font-color-blue {
  color: $blue;
}

.font-color-yellow {
  color: $yellow;
}

.font-color-brown {
  color: $brown;
}

.bg-color-red {
  background-color: $red;
}

.bg-color-blue {
  background-color: $blue;
}

.bg-color-green {
  background-color: $green;
}

.bg-color-yellow {
  background-color: $yellow;
}

.border-color-grey {
  border-color: #d8d8d8;
}
