/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import 'colors';
@import 'padding';
@import 'border';

nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.box-vertical {
  display: flex;
  flex-direction: column;
}

.box-center {
  justify-content: center;
  align-items: center;
}

.box-horizontal {
  display: flex;
}

.box-item-1 {
  flex: 1;
}

.box-item-2 {
  flex: 2;
}

.full-width {
  width: 100%;
}

.width-30 {
  width: 30%;
}

.align-center {
  align-content: center;
}

.round-corners {
  border-radius: 9px;
  padding: 7px; 
}

body {
  font-family: monospace;
  font-size: 13px;
}